.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0,3s;
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 60%;
    height: 45%;
    top: 0;
    left: 0;
  }
  .dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
  }
  .dot{
    height: 29px;
    width: 18px;
    background-color: #017805;
    border-radius: 50%;

  }